@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  }

.body{
  position: absolute;
  width: 100%;
  min-height: 100vh;
	background: #252529
}
/******************** MAIN ********************/
.container {
  /* max-width: 85%; */
  position: relative;

  margin: 2px 80px auto;
  overflow: auto;
  min-height: 300px;
  padding: 0px 40px 20px;
}

/******************** TITLE ********************/
.title {
	text-align: center;
	position:relative;
  margin-top: 2%;
}
h1{
	font-size: 470%;
  background: -webkit-linear-gradient(45deg,#C5F836, #3AA4D1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2{
  background: -webkit-linear-gradient(45deg,#C5F836, #3AA4D1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-size: 300%;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3{
  padding: 10px;
	font-size: 270%;
  background: -webkit-linear-gradient(45deg,#C5F836, #3AA4D1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p{
  margin: 5px;
}
.btn {
  display: flex;
	background:linear-gradient(45deg,#C5F836, #3AA4D1);
  color: #ffff;
  border: none;
  padding: 10px 60px;
  margin: 5px auto;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-family: Montserrat, 'sans-serif';
  font-weight: bold;
  margin-top: 30px;

}
.custom-file-label{
    margin: 10px 60px
}
a{
  text-decoration:none;
}

/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
} */
.lowerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.iconbtn {
  justify-content: space-evenly;
  display: flex;
	background:linear-gradient(45deg,#C5F836, #3AA4D1);
  color: #ffff;
  border: none;
  padding: 9px 30px 1px 0px;
  margin: 10px 30px;
  width: 180px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

/******************** NAVBAR ********************/
.linkHomePage {
  text-decoration: none;
  color: #CBCFD4;
  position: relative;
  top: 10px;
}

.name{
  position:absolute;
  bottom: 70px;
  float:left;
  width: 100%;
  font-size: small;
  left: 80px;

}

.Login{
  width: 400px;
  padding: 20px;
}

.logindiv{
  position: absolute;
  right: 50px;
  color: #CBCFD4;
}
.logOut{
  position:absolute;
  font-size: small;
  left: 80px;
  bottom: 40px;
}

.FilePath{
  padding: 10px 30px;

}

.detailsEncounter{
  text-align: left;
}

/* Charts */
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut{
  stroke: #a6d9c4;
}
.ct-label{
  font-weight: bold;
  color: aliceblue;

}
.ct-chart ct-chart{

}